.section-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  form {
    width: 40%;
  }
}

.name, .contacts {
  display: flex;
  justify-content: space-between;

  .form-group {
    display: flex;
    flex-direction: column;

    align-content: space-between;
    width: 48%;
  }
}

.text-muted {
  color: red !important;
}
